/* Set styles for html and body to cover full height and width */
html, body {
    margin: 0; /* Remove default margin */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Hide overflow */
    font-family: "Archivo", sans-serif; /* Set font family */
    background: linear-gradient(to bottom, red, black); /* Set background gradient from red to black */
}

 #canvas {
    color: linear-gradient(to bottom, red, black); /* Set background gradient from red to black */
}

@font-face {
    font-family: 'agent_redregular'; /* Define custom font */
    src: url('fonts/agentred-webfont.woff2') format('woff2'), /* WOFF2 format */
         url('fonts/agentred-webfont.woff') format('woff'); /* WOFF format */
    font-weight: normal; /* Normal font weight */
    font-style: normal; /* Normal font style */
}

/* Style for lobby text */
#lobby {
    color: rgb(44, 175, 44); /* Set text color */
}

/* Lobby panel styles */
#lobbyPanel {
    height: 60px; /* Set height */
    top: 0; left: 0; right: 0; /* Position at top */
    z-index: 10; /* Place above other elements */
    position: absolute; /* Absolute positioning */
    /*background-color: white;*/ /* Background color */
    background: linear-gradient(to bottom, red, black); /* Set background gradient from red to black */
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Space between items */
    padding-left: 1rem; /* Padding */
    padding-right: 1rem; /* Padding */
    align-items: center; /* Center items */
    font-weight: 700; /* Bold font */
    font-size: 1.5rem; /* Font size */
}

/* Player color styling */
#col {
    text-shadow: 0 0 5px #0008; /* Text shadow for effect */
}

/* Start button styles */
#startButton {
    display: none; /* Hide by default */
    position: absolute; /* Positioning */
    top: 5px; 
    right: 5px; 
    height: 45px; 
    width: 100px; 
}

/* Reset button styles */
#resetButton {
    display: none; /* Hide by default */
    position: absolute; /* Positioning */
    top: 5px; 
    right: 5px; 
    height: 45px; 
    width: 100px; 
}

/* Player color visibility */
#playerColour {
    display: none; /* Hide by default */
}

/* Button styles */
button {
    transition-duration: 0.3s; /* Transition duration */
    box-shadow: 0px 5px 0px rgb(0, 0, 0), 0px 10px 15px black; /*Red and Black shadow  */
    background-color: rgb(0, 0, 0); /* Background color */
    color: white; /* Text color */
    display: flex; /* Flexbox for layout */
    justify-content: center; /* Center text */
    align-items: center; /* Center vertically */
    height: 50px; 
    border-radius: 0.5rem; /* Rounded corners */
    border-style: none; /* No border */
    font-size: large; /* Large font */
    cursor: pointer; /* Pointer cursor */
}

/* Button hover effects */
button:hover {
    transition-duration: 0.3s; /* Transition duration */
    box-shadow: 0px 0px 0px rgb(255, 0, 0), 0px 5px 10px black; /* Shadow effect on hover */
    background-color: rgb(255, 0, 0); /* Change background color */
    transform: translateY(5px); /* Move down on hover */
}

/* Win screen styles */
#winScreen {
    position: absolute; /* Positioning */
    left: 0px; 
    top: 0px; 
    bottom: 0px; 
    right: 0px; 
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex; /* Flexbox for layout */
    align-items: center; /* Center items vertically */
}

/* Font styling for win message */
.font-whacky {
    font-family: "agent_redregular", sans-serif; /* Use custom font */
    text-align: center; /* Center text */
    font-size: 3rem; /* Font size */
    margin-bottom: 2rem; /* Bottom margin */
}

/* Player score styling */
#playerScores {
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Column layout */
    row-gap: 1rem; /* Space between rows */
    width: 100%; /* Full width */
    max-width: 500px; /* Max width */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

/* Individual player score styling */
.playerScore {
    display: flex; /* Flexbox for layout */
    background-color: rgb(240, 240, 240); /* Background color */
    padding: 0.6rem; /* Padding */
    border-radius: 5px; /* Rounded corners */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center vertically */
    font-weight: bold; /* Bold font */
    font-size: large; /* Large font size */
}

/* Waiting text styling */
#waitingText {
    margin-top: 2rem; /* Margin on top */
}

/* Clock panel styling */
#clockPanel {
    position: absolute; /* Positioning */
    top: 60px; 
    right: 0; 
    bottom: 0; 
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Column layout */
    align-items: end; /* Align to end */
    color: white; /* Text color */
}

/* Clock styling */
.clock {
    width: 64px; /* Width */
    height: 64px; /* Height */
    border-radius: 50%; /* Circular shape */
}

/* Clock wrapper styling */
.clock-wrapper {
    display: none; /* Hide by default */
    flex-direction: row; /* Row layout */
    gap: 8px; /* Space between items */
    align-items: center; /* Center vertically */
    position: absolute; /* Positioning */
    right: 8px; /* Position from right */
}
